/**
 *
 */
body{

	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

br.clear{

	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 0 0;
}

header,
footer,
section {

	display: block;
}

div 			{ position: relative; }

.margins 		{ margin: 15px; }
.margins-horz 	{ margin: 0 15px; }
.margins-vert 	{ margin: 15px 0; }

.boxfix 		{ padding: 1px; }
.boxfix-horz 	{ padding: 0 1px; }
.boxfix-vert 	{ padding: 1px 0; }

.pull-left 		{ float: left; }
.pull-right 	{ float: right; }

.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center	{ text-align: center; }
.text-justify 	{ text-align: justify; }

.column 		{ float: left; }
.column-half	{ width: 50%; }
.column-third	{ width: 33%; }
.column-fourth	{ width: 25%; }

.toolbar {

	margin-bottom: 15px;
}

.toolbar .pagination {

	margin: 0;
}

@media (min-width: 1024px) {

	aside.sidebar {

		width: 200px;
		float: left;
	}

	section.content {

		margin-left: 220px;
	}

}